body {
  background: linear-gradient(135deg, #dbf2f5, #f9b9cf);
}
h1 {
  text-align: center;
}
.container {
  background-color: #fef9e1;
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
button {
  width: 70%;
  margin: 3px;
}
p {
  font-size: 20px;
}
